includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    level: max
    paths:
        - app
        - database
        - public
    bootstrapFiles:
        - bootstrap/phpstan.php
    scanDirectories:
        - bootstrap
        - config
    excludePaths:
        - vendor/*
    inferPrivatePropertyTypeFromConstructor: true
    treatPhpDocTypesAsCertain: false
    parallel:
        maximumNumberOfProcesses: 1
